@media screen and (max-width: 640px) {
  header .burger {
    display: block;
  }

  main {
    width: 100%;
  }

  h1 {
    width: 60%;
    transform: translateX(-5%);
  }

  .burger.burger-active .line {
    background: rgba(0, 0, 0, 0);
    transition: all 300ms ease-in-out;
  }

  .burger.burger-active .line::before {
    top: 0;
    transform: rotate(45deg);
    transition: all 300ms ease-in-out;
  }

  .burger.burger-active .line::after {
    top: 0;
    transform: rotate(135deg);
    transition: all 300ms ease-in-out;
  }

  header nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    top: 15vh;
    padding-right: 5%;
    left: 100%;
    width: 100%;
    height: 85vh;
    background-color: var(--light);
    transition: all 500ms ease-in-out;
  }

  header nav a {
    font-size: 1.5rem;
  }

  header nav.menu-active {
    transform: translateX(-100%);
  }

  #slider {
    display: none;
  }

  .img-for-mobile {
    display: block;
  }

  section.bio {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin-top: var(--spacer);
    padding-top: var(--spacer);
  }

  section.bio .profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    margin-top: var(--spacer-lg);
  }

  .bio .intro {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .bio .button {
    margin: auto;
    margin-top: var(--spacer-md);
  }

  footer {
    flex-direction: column-reverse;
    height: auto;
  }

  footer nav {
    display: flex;
    flex-direction: column;
  }

  footer nav a {
    margin: auto;
    margin-top: var(--spacer-md);
    font-size: smaller;
  }

  footer p {
    margin: var(--spacer-md) auto;
    font-size: 0.6rem;
  }

  .savoir {
    display: flex;
    flex-direction: column;
  }

  .left {
    background-image: none;
  }
}
