@import url("https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark: #000;
  --light: #fff;
  --bright: #fcd469;
  --secondary: #8d8d8d;
  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 5);
  --spacer-xl: calc(var(--spacer) * 10);
}

/* ================
  global 
  ================= */

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--bright);
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/* ================
  typography 
  ================= */
h1,
h2 {
  font-family: "Oswald", sans-serif;
  line-height: 2.5rem;
}

h1 {
  font-size: 2.5rem;
  width: 35%;
  margin: auto;
  color: var(--dark);
  box-shadow: 15px 15px var(--bright), 30px 30px var(--dark);
  margin-bottom: var(--spacer-lg);
  margin-top: var(--spacer-md);
  text-align: center;
}

h2 {
  font-size: 2rem;
}

/* ================
  layout 
  ================= */

main {
  width: 80%;
  margin: auto;
  line-height: 1.5rem;
  flex: 1 0 auto;
}

section {
  padding-top: var(--spacer-lg);
}

/* HEADER  */
header {
  width: 100%;
  height: 15vh;
  background-color: var(--dark);
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: var(--bright);
  font-size: 2.5rem;
  margin-left: 10%;
}

header nav {
  margin-right: 10%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

header nav a {
  font-size: 1.1rem;
  color: var(--light);
  margin-left: var(--spacer-lg);
  text-align: center;
  position: relative;
}

header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: all 250ms ease-in-out;
}

header nav a:hover {
  color: var(--bright);
}
header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
  background-color: currentColor;
}

header .burger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  width: 35px;
  height: 35px;
}

.burger .line {
  width: 35px;
  height: 5px;
  background-color: var(--light);
  position: absolute;
  top: 50%;
}

.burger .line::after,
.burger .line::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: var(--light);
}

.burger .line::after {
  top: 10px;
  transition: all 300ms ease-out;
}

.burger .line::before {
  top: -10px;
  transition: all 200ms ease-out;
}

.burger:hover .line::after {
  top: 12px;
}

.burger:hover .line::before {
  top: -12px;
}

/* slideshow */

.img-for-mobile {
  background-image: url(images/heros/hero1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

#slider {
  position: relative;
  top: 15vh;
  height: 100vh;
  z-index: 0;
}

.slide {
  height: 80vh;
  width: 80%;
  margin: var(--spacer) auto;
  padding: var(--spacer);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.slide1 {
  background-image: url(images/heros/hero1.jpg);
}

.slide2 {
  background-image: url(images/heros/hero2.jpg);
}

.slide3 {
  background-image: url(images/heros/hero3.jpg);
}
.slide4 {
  background-image: url(images/heros/hero4.jpg);
}

/* Biography */

section.bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 100%;
  margin: auto;
  padding-top: var(--spacer-xl);
  padding-bottom: var(--spacer-lg);
}

section.bio .profile {
  background-image: url("images/profile.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bio .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio h2 {
  margin-top: 0;
}

.button {
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
  font-weight: 900;
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 0.6rem;
  position: relative;
}

.button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 6px;
  left: 6px;
  background: var(--bright);
  z-index: -1;
}

.button:hover.button::after {
  top: 0;
  left: 0;
  transition: all 0.2s ease-in;
}

/* ================
  Arts gallery
  ================= */

.arts {
  width: 100%;
  margin: auto;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.img-container {
  position: relative;
  width: 300px;
}

.img-container img {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.img-container .overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--light);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.img-container .overlay .text {
  color: var(--light);
  text-align: center;
  padding-top: 20px;
}

.img-container .overlay .text p {
  color: rgba(225, 225, 225, 0.7);
}

.img-container:hover .overlay {
  height: 45%;
}

/* ================
  Murals 
  ================= */

.murals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: auto;
}

.murals article {
  width: 465px;
  height: 310px;
  box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
}

.murals .mural1 {
  background-image: url("images/mural/1.jpg");
}

.murals .mural2 {
  background-image: url("images/mural/2.jpg");
}

.murals .mural3 {
  background-image: url("images/mural/3.jpg");
}

.murals .mural4 {
  background-image: url("images/mural/4.jpg");
}

.murals .mural5 {
  background-image: url("images/mural/5.jpg");
}

.murals .mural6 {
  background-image: url("images/mural/6.jpg");
}

.banner {
  width: 100%;
  height: 250px;
  margin: auto;
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
  background-image: url("images/zilon-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact {
  margin: auto;
  margin-bottom: var(--spacer-lg);
  background-color: var(--bright);
  color: var(--dark);
  width: 40%;
  padding: var(--spacer-md);
  box-shadow: 20px 20px var(--dark);
}

.contact h2 {
  color: var(--light);
  padding-bottom: var(--spacer);
  border-bottom: 3px solid var(--light);
}

/* ================
  footer 
  ================= */
footer {
  height: 15vh;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

footer p {
  color: var(--secondary);
  margin-bottom: 0;
  font-size: 0.8rem;
}

footer nav a {
  text-decoration: none;
  color: var(--secondary);
  margin-left: var(--spacer-lg);
}

footer nav a:hover {
  color: var(--light);
}

/* ================
  page en savoir plus 
  ================= */

.savoir {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: var(--spacer-md);
  line-height: 1.5rem;
  text-align: justify;
  width: 80%;
  margin: auto;
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-md);
}

.savoir h1 {
  float: right;
  margin-right: var(--spacer-md);
  width: 50%;
}

.left {
  display: flex;
  flex-direction: column;
}

.left .left-photo {
  width: 100%;
  height: 100%;
  margin-top: var(--spacer-md);
  background-image: url("images/savoir.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ================
  media query 
  ================= */
@media screen and (max-width: 640px) {
  main {
    width: 100%;
  }

  header .burger {
    display: block;
  }

  h1 {
    width: 60%;
  }

  .burger.burger-active .line {
    background: rgba(0, 0, 0, 0);
    transition: all 300ms ease-in-out;
  }

  .burger.burger-active .line::before {
    top: 0;
    transform: rotate(45deg);
    transition: all 300ms ease-in-out;
  }

  .burger.burger-active .line::after {
    top: 0;
    transform: rotate(135deg);
    transition: all 300ms ease-in-out;
  }

  header nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    top: 12vh;
    padding-right: 5%;
    left: 100%;
    width: 80%;
    height: 88vh;

    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
  }

  header nav.menu-active {
    transform: translateX(-100%);
    /* background-color: gold; */
  }

  #slider {
    display: none;
  }

  .img-for-mobile {
    display: block;
  }

  section.bio {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  section.bio .profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    margin-top: var(--spacer-lg);
  }

  .bio .intro {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .bio .button {
    margin: auto;
    margin-top: var(--spacer-md);
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-container .column {
    max-width: 100%;
  }

  .murals {
    display: flex;
    flex-direction: column;
  }

  .murals article {
    margin: auto;
    margin-bottom: var(--spacer-md);
    width: 80%;
  }

  .banner {
    width: 80%;
    height: 30vh;
  }

  .contact {
    width: 80%;
  }

  footer {
    flex-direction: column-reverse;
    height: auto;
  }

  footer nav {
    display: flex;
    flex-direction: column;
  }

  footer nav a {
    margin: auto;
    margin-top: var(--spacer-md);
  }

  footer p {
    margin: var(--spacer-md) auto;
  }

  .savoir {
    display: flex;
    flex-direction: column;
  }

  .left {
    background-image: none;
  }
}
